$primary-color: #22a9e1;
$secondary-color: #eb197f;
$tertiary-color: #3c4b6c;
$quaternary-color: #fbc12a;

$background: #0d172d;
$header: $primary-color;
$footer: $quaternary-color;

$newPost: #3c4b6c;

$error-color: #d73c42;

$btn-color: $tertiary-color;
$btn-confirmation-color: $secondary-color;
$btn-cancel-color: $quaternary-color;

$light-mode-white: white;
$light-mode-black: black;
