$primary-color: #b7714b;
$secondary-color: #261e1e;
$tertiary-color: #55382e;
$quaternary-color: #eec5b0;

$background: #eec5b0;
//$background: white;
$header: #55382e;
$footer: $header;
$newPost: #b7714b;
$newPostMessage: #b7714b;

$error-color: #d73c42;

$btn-color: #00fff7;
$btn-confirmation-color: #13ff00;
$btn-cancel-color: #d73c42;

$light-mode-white: white;
$light-mode-black: black;
