@use '../../style/abstracts/colors';

@keyframes title-animation {
  0% {
    text-shadow: 15px 15px colors.$light-mode-white;
    color: colors.$secondary-color;
  }
  100% {
    text-shadow: -15px -15px colors.$primary-color;
  }
}

@keyframes error {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes postMoveDown {
  0% {
    transform: translateY(-100%);
  }
  70% {
    transform: translateY(-5%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotation360 {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
