@import './reset';
@import './normalize';
@import './variables';

// UI
@import '../../components/UI/Input.module';

// pages
@import '../../pages/Login.module';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  margin: auto;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
  &::placeholder {
    color: black;
  }
}

form {
  display: flex;
  flex-direction: column;
}
