@import '../../style/scss/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem;
  margin-bottom: 2rem;

  background-color: white;
}

.logo {
  display: flex;
  gap: 0.5rem;
  & img {
    width: 5rem;
  }
  & h1 {
    font-weight: bolder;
  }
}

.user {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1rem;
  background: none;
  border: none;
  color: black;
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

.profilePicture {
  background: none;
  border: none;
  & img {
    object-fit: cover;

    border-radius: 50%;
    border: 0.3rem solid $btn-color;
    padding: 0.2rem;

    width: 5rem;
    height: 5rem;

    transition: border 150ms;
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}
