@use '../../style/abstracts/colors';

.header {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 2rem;
  padding: 0 2rem;

  background-color: colors.$light-mode-white;
  border-bottom: 1px dashed colors.$light-mode-black;
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  & a {
    margin-left: 3rem;
    cursor: pointer;
    transition: scale 25ms ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
}

.profilePicture {
  background: none;
  border: none;
  & img {
    object-fit: cover;

    border-radius: 50%;
    border: 0.3rem solid colors.$btn-confirmation-color;
    padding: 0.2rem;

    width: 5rem;
    height: 5rem;

    transition: border 150ms;
    &:hover {
      cursor: pointer;
      border: none;
    }
  }
}
