@use '../../../style/abstracts/colors';

.userProfile {
  & span {
    font-size: 1.2rem;
  }
  & .img {
    width: 5rem;
    & img {
      object-fit: cover;
      width: 100%;
      max-height: 5rem;
    }
  }
}
