@import 'reset';
@import 'normalize';
@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: $secondary-color;
  margin: auto;
}

body {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}
