@use 'base/reset';
@use 'base/normalize';
@use 'abstracts/colors';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  margin: auto;
}

body {
  background-color: colors.$background;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
  &::placeholder {
    color: colors.$light-mode-black;
  }
}

form {
  display: flex;
  flex-direction: column;
}
