@use 'base/reset';
@use 'base/normalize';
@use 'abstracts/colors';
@use 'abstracts/mediaqueries';

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('../assets/images/BG-memphis.png');
  background-size: cover;
  @include mediaqueries.small {
    background-size: 100%;
  }

  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
  &::placeholder {
    color: colors.$light-mode-black;
  }
  &[type='file'] {
    opacity: 0;
    z-index: -1;
    position: absolute;
  }
}
