@use '../../../style/UI/input';
@use '../../../style/UI/error';
@use '../../../style/UI/button';
@use '../../../style/abstracts/colors';
@use '../../../style/abstracts/keyframes';
@use '../../../style/abstracts/mediaqueries';

.error {
  @include error.error;
  background-color: lighten(colors.$error-color, 50);
  width: fit-content;
  align-self: center;
  padding: 0.5rem;
}

.errorMain {
  @include error.error(2rem, 2rem);
  padding: 0.5rem;
  z-index: 3;
  border: 1px solid colors.$error-color;
  background-color: lighten(colors.$error-color, 50);
}

.btnConfirmation {
  @include button.button(colors.$btn-confirmation-color);
}

.header {
  z-index: 2;
  display: flex;
  flex-direction: column;

  border-top: 2px dashed colors.$light-mode-white;
  border-bottom: 2px dashed colors.$light-mode-white;
  @include mediaqueries.medium {
    border: 2px dashed colors.$light-mode-white;
  }
  background-color: colors.$newPost;
  & h2 {
    position: relative;
    bottom: 3rem;
    left: 3rem;

    font-size: 2rem;
    rotate: -10deg;
    padding: 2rem;
    width: fit-content;

    border: 2px dashed colors.$light-mode-white;
    border-radius: 3px;

    background-color: colors.$newPost;
    color: colors.$light-mode-white;
  }
  & .title {
    @include input.inputForm(
      colors.$light-mode-black,
      colors.$light-mode-white,
      colors.$quaternary-color
    );
    align-self: center;
    width: 70%;
  }
}

.container {
  overflow: hidden;
  & .postCard {
    animation: postMoveDown 450ms ease-in-out;
    padding: 5% 8%;

    border-bottom: 1px dashed colors.$light-mode-black;
    border-left: 1px dashed colors.$light-mode-black;
    border-right: 1px dashed colors.$light-mode-black;
    & .upload {
      color: colors.$background;
      text-align: center;
      margin-bottom: 2rem;
      & label {
        font-size: 8rem;
        & .faCamera {
          transition: scale 150ms ease-in-out;
          &:hover {
            cursor: pointer;
            scale: 1.1;
          }
        }
      }
      & .image {
        display: block;
        align-items: center;
        min-width: 90%;
        transition: scale 150ms ease-in-out;
        &:hover {
          cursor: pointer;
          scale: 102%;
        }
        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
    }
    & .btnHidden {
      color: colors.$background;
      border: none;
      background: none;
      & .send {
        margin-top: 1rem;
        margin-left: 1rem;
        font-size: 3rem;
        transition: scale 100ms ease-in-out;
        &:hover {
          cursor: pointer;
          scale: 1.3;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
