.postCard {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;

  & header {
    display: flex;
    justify-content: space-between;
    & .profilePicture {
      width: 7rem;
      height: 7rem;
      & img {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  & section {
    & textarea {
      min-width: 100%;
      max-width: 100%;
      height: 12rem;
    }
    .post {
      & p {
        margin: 2rem 0;
      }
    }
    .img {
      width: 100%;
      height: 30rem;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  & footer {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .btnLike {
      background: darkseagreen;
      &:hover {
        background: #4bc84b;
      }
      &:active {
        background: darkseagreen;
      }
    }

    .btnDelete {
      background: #d15858;
      &:hover {
        background: #d73c42;
      }
      &:active {
        background: #d15858;
      }
    }

    & time {
      font-size: 1.4rem;
      font-style: italic;
    }
  }
}
