@use '../../../style/abstracts/colors';

.userProfile {
  display: flex;
  flex-direction: column;

  position: relative;
  bottom: 3rem;
  left: 2.5rem;
  width: 40%;
  max-width: 26rem;

  background-color: colors.$light-mode-white;
  border: 1px dashed colors.$light-mode-black;
  & h2 {
    overflow-wrap: break-word;
    font-size: 2rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
  }
  & .img {
    max-width: 25rem;
    margin: 1rem;
    background-color: colors.$light-mode-white;
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      padding: 0.5rem;
    }
  }
}
