@use '../style/abstracts/colors';
@use '../style/abstracts/keyframes';
@use '../style/UI/error';

.error {
  @include error.error;
}

.errorMain {
  @include error.error(2rem, 2rem);
}

.layout {
  h1 {
    font-size: 4rem;
    font-weight: 900;
    color: colors.$light-mode-white;

    margin-left: 2.5rem;
    margin-bottom: 15rem;

    animation: title-animation 1s ease-in-out alternate-reverse infinite;
  }
  display: flex;
  flex-direction: column;

  .form {
    padding: 5% 8%;
    border: 1px dashed black;
  }

  & .titleContainer {
    position: relative;
    bottom: 6rem;
    left: 3rem;
  }

  & h2 {
    font-size: 2rem;
    rotate: -20deg;

    width: fit-content;
    margin-bottom: 2rem;
    padding: 2rem;

    border: 1px dashed black;
    border-radius: 3px;

    background: white;
  }
}

// media query //
//.form {
//  width: 50rem;
//  height: 53.5rem;
//}
