@use '../style/abstracts/colors';
@use '../style/abstracts/keyframes';
@use '../style/abstracts/mediaqueries';
@use '../style/UI/error';

.error {
  @include error.error;
}

.errorMain {
  @include error.error(2rem, 2rem);
}

.layout {
  margin-bottom: 15rem;
  & h1 {
    animation: title-animation 1s ease-in-out alternate-reverse infinite;

    font-size: 4rem;
    font-weight: 900;
    color: colors.$light-mode-white;

    margin-left: 2.5rem;
    margin-bottom: 15rem;
  }

  & .form {
    width: 100%;
    padding: 2.5rem 5rem;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;

    @include mediaqueries.medium {
      border: 1px dashed black;
      margin: 0 auto;
      width: 70%;
      max-width: 900px;
    }
  }

  & .titleContainer {
    position: relative;
    bottom: 6rem;
    left: 3rem;
  }

  & h2 {
    rotate: -20deg;
    animation: rotation360 alternate-reverse;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: 2;

    font-size: 2rem;

    width: fit-content;
    margin-bottom: 2rem;
    padding: 2rem;

    border: 1px dashed black;
    border-radius: 3px;

    background: white;
  }
}
