@use '../style/UI/button';
@use '../style/UI/error';
@use '../style/abstracts/colors';

.profile {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8%;
  & section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .btnPosition {
      display: flex;
      gap: 10rem;
    }
  }

  & .btn {
    @include button.button;
  }

  & .btnConfirmation {
    @include button.button(colors.$btn-confirmation-color);
  }

  & .btnCancel {
    @include button.button(colors.$btn-cancel-color);
  }

  & .error {
    @include error.error(2rem, 2rem);
  }
}
