@use '../../style/UI/input';

.input {
  @include input.inputForm;
}

.passwordLabel {
  position: relative;
  & label {
    font-size: 2rem;
    position: absolute;

    right: 0;
    margin: 1.2rem 2rem;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    cursor: pointer;
    transition: scale 25ms ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}
