@use '../../style/UI/input';

.input {
  @include input.inputForm;
}

.passwordLabel {
  position: relative;
  & label {
    font-size: 2rem;
    position: absolute;

    right: 0;
    margin: 1.2rem 2rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
