@import '../../style/variables';

.button {
  background-color: $btn-color;
  color: white;

  padding: 1rem 0;
  margin: 0.5rem 0;

  border: none;
  box-shadow: 0 1px 3px darken($btn-color, 10%);

  transition: background-color 250ms;
}

.button:hover {
  cursor: pointer;
  background-color: darken($btn-color, 10%);
}

.button:active {
  background-color: $btn-color;
}
