@import '../../style/variables';

.input {
  & input {
    margin: 0.5rem auto;
    padding: 1rem;
    width: 100%;
    &:focus {
      outline: none;
      background: rgba(112, 202, 230, 0.17);
    }
  }
}

.input.invalid {
  & input {
    outline: none;
    background: #ffd7d7;
  }
}
