@use '../../style/abstracts/colors';

@keyframes error {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

.input.invalid {
  animation: error 70ms alternate-reverse;
  animation-iteration-count: 6;

  & input {
    color: colors.$light-mode-white;
    background: #d73c42;
    &::placeholder {
      color: colors.$light-mode-white;
    }
  }
  & label {
    color: colors.$light-mode-white;
  }
}
