@use '../../style/abstracts/colors';
@use '../../style/abstracts/keyframes';

.input.invalid {
  animation: error 70ms alternate-reverse;
  animation-iteration-count: 6;

  & input {
    color: colors.$light-mode-white;
    background: #d73c42;
    &::placeholder {
      color: colors.$light-mode-white;
    }
  }
  & label {
    color: colors.$light-mode-white;
  }
}
