@import 'style/reset';
@import 'style/normalize';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #120f0f;
  margin: auto;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
button,
select {
  margin: 3px auto;
  width: 50%;
}
